* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --headercolor1: #92ccce;
    --headerback: #31343d ;
    --txt: #445877;
}

/* This is for my overall header */
.header {
    margin-left: 0;
    padding: 10px 20px 10px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #3f5437;
}

/* This is for the Kristen section of my header */

.header h1 {
    font-size: 48px;
    padding-left: 90px;
    margin-left: 0px;
    background-color: #b8c5a2;
    display: inline-block;
    color: #3f5437;
}

/* This is for the About Me, Work, Contact Me, Resume section of my header  */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* This keeps the header list vertical on the header */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* This gives the links the correct color */
a {
    color: #3f5437;
}

/* This puts the image under the header */
.imageleaves {
    height: 200px;
    width: 100%;
    background-image: url("../images/leaves2.jpg");
    background-size: cover;
}

/* This adds text over the image */
.textoverimage {
    position: relative;
    float: right;
    margin-top: 175px;
    color: white;
}

/* This styles the large About Me, Work and Contact Me section to the left */
h2 {
    color:  #3f5437;
    font-size: 50px;
    padding-right: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
}

h3 {
    color:  #3f5437;
    font-size: 50px;
    padding-right: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
}

h4 {
    color:  #3f5437;
    font-size: 50px;
    padding-right: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
}

/* This formats the about me section of the body */
.test1 {
    margin:0;
    padding: 3% 3% 3% 12%;
    border:none;
    text-align: left;
    display: inline-flex;
    width: 100%;
}

.test2 {
    margin: 0;
    padding: 3% 3% 3% 12%;
    border:none;
    text-align: left;
    display: inline-flex; 
    width: 100;
}

/* This formats the contact me section of the body */
.test3 {
    margin: 0;
    padding: 3% 3% 3% 12%;
    border:none;
    text-align: left;
    display: inline-flex; 
    width: 100%;
}

/* This goes with my about me paragraphs */
.body1 {
    width: 90%;
    border-left: 1px solid;
    padding-left: 3%;
    
}

/* This goes with my work main section */
.body2 {
    width: 90%;
    border-left: 1px solid;
    padding-left: 3%;
}

/* This goes with my contact me main section */
.body3 {
    width: 90%;
    border-left: 1px solid;
    padding-left: 3%;
}




